version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT}:6379"
    env_file:
      - .env

  celery:
    build: .
    command: celery -A SLN worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  celery-beat:
    build: .
    command: celery -A SLN beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
